:root {
  --light-blue: #e9f1fa;
  --dark-blue: #00abe4;
  --darker-blue: #0077ff;
  --white: #fff;
  --bold-text-color: #1e375a;
  --light-text-color: rgba(30, 55, 90, 0.7);
  --font-family: "Poppins", -apple-system, BlinkMacSystemFont Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --pattern-color: rgba(30, 55, 90, 0.1);
  --floral-red: #ff4d4d;
  --knight-black: #1e375a;
}
